<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{.Title}}</title>
{{/*<meta name="description" content="{{= d.description }}">*/}}
{{ template "common/link.html" }}
</head>
<body>

{{template  "common/header.html" .}}
<div class="layui-hide-xs">
{{template  "common/column.html" .}}
</div>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 content detail">
            <div class="fly-panel detail-box">
                <h1>{{.Note.Title}}</h1>
                <div class="fly-detail-info">
                {{if eq2 .Note.Status -1 }}
                    <span class="layui-badge">审核中</span>
                {{end }}
                    <span class="layui-badge layui-bg-green fly-detail-column">提问</span>
                {{if eq2 .Note.Accept 0 }}
                    <span class="layui-badge" style="background-color: #999;">未结</span>
                {{ else }}
                    <span class="layui-badge" style="background-color: #5FB878;">已结</span>
                {{ end }}

                {{ if eq2 .Note.Top  1 }}
                    <span class="layui-badge layui-bg-black">置顶</span>
                {{end}}
                {{ if eq2 .Note.Status  3 }}
                    <span class="layui-badge layui-bg-red">精帖</span>
                {{end}}

                    <div class="fly-admin-box" data-id="{{.Note.Id}}">
                    {{ if eq2 .User.Auth 1  }}
                        <span class="layui-btn layui-btn-xs jie-admin" type="del">删除</span>
                    {{end}}

                    {{ if eq2 .User.Auth 1 }}
                    {{ if eg .Note.Top  0  }}
                        <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="0"
                              style="background-color:#ccc;">取消置顶</span>
                    {{ else  }}
                        <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="1">置顶</span>
                    {{ end}}
                    {{ if eq2 .Note.Status 2 }}
                        <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="0"
                              style="background-color:#ccc;">取消加精</span>
                    {{else  }}
                        <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="1">加精</span>
                    {{end}}
                    {{end}}
                    </div>
                    <span class="fly-list-nums">
                        <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i> {{.Note.ReplyCount}}</a>
                        <i class="iconfont" title="人气">&#xe60b;</i> {{.Note.VisitCount}}
                    </span>
                </div>

                <div class="detail-about">
                    <a class="fly-avatar" href="/u/{{multiply 168 .Note.U.Id}}/">
                        <img src="{{.Note.U.Avatar}}" alt="{{.Note.U.UserName}}">
                    </a>
                    <div class="fly-detail-user">
                        <a href="/u/{{multiply 168 .Note.U.Id}}/" class="fly-link">
                            <cite>{{.Note.U.UserName}}</cite>
                        {{ if .Note.U.Approve }}
                            <i class="iconfont icon-renzheng" title="认证信息：{{ .Note.U.Approve }}"></i>
                        {{end }}
                        {{ if .Note.U.Rmb }}
                            {{ .Note.U.Rmb }}
                        {{ end }}
                        </a>
                        <span>{{ date .Note.CTime "Y-m-d"}}</span>
                    </div>
                    <div class="detail-hits" id="LAY_jieAdmin" data-id="{{.Note.Id}}">
                        <span style="padding-right: 10px; color: #FF7200">悬赏：{{.Note.Experience}}飞吻</span>
                    {{ if eq2 .Note.U.Id .User.Id }}
                        <span class="layui-btn layui-btn-xs jie-admin" type="edit">
                            <a href="/jie/edit/{{.Note.Id}}">编辑此贴</a></span>
                    {{end  }}
                    </div>
                </div>
                <div class="detail-body photos">
                {{ .Note.Content }}
                </div>
            </div>


            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title"
                          style="text-align: center;">
                    <legend>回帖</legend>
                </fieldset>

                <ul class="jieda" id="jieda">
                {{ range .Reps }}
                    <li data-id="{{.Id}}" class="jieda-daan">
                        <a name="item-$$time"></a>
                        <div class="detail-about detail-about-reply">
                            <a class="fly-avatar" href="/u/{{.U.Id}}/">
                                <img src="{{.U.Avatar}}" alt="{{.U.UserName}}">
                            </a>
                            <div class="fly-detail-user">
                                <a href="/u/{{user .U.Id}}/" class="fly-link">
                                    <cite>{{.U.UserName}}</cite>
                                {{ if .U.Approve }}
                                    <i class="iconfont icon-renzheng" title="认证信息：{{ .U.Approve }}"></i>{{ end }}
                                {{ if .U.Rmb  }}{{ .U.Rmb }}{{end }}
                                </a>

                            {{ if eq2 .U.Id  $.Note.U.Id }}
                                <span>(楼主)</span>
                            {{else if eq2 .U.Auth 1 }}
                                <span style="color:#5FB878">(管理员)</span>
                            {{ else if eq2 .U.Auth 2 }}
                                <span style="color:#FF9E3F">（社区之光）</span>
                            {{else if eq2 .U.Auth -1 }}
                                <span style="color:#999">（该号已被封）</span>
                            {{end }}
                            </div>

                            <div class="detail-hits">
                                <span>{{date .CTime "Y-m-d"}}</span>
                            </div>

                        {{/*{{# if(item.id == rows.accept){ }}*/}}
                        {{/*<i class="iconfont icon-caina" title="最佳答案"></i>*/}}
                        {{/*{{# } }}*/}}
                        </div>
                        <div class="detail-body jieda-body photos">
                        {{ .Content }}
                        </div>
                        <div class="jieda-reply">
        <span class="jieda-zan " type="zan">
            {{/*zanok*/}}
                <i class="iconfont icon-zan"></i>
        <em>{{.ThumbCount}}</em>
        </span>
                            <span type="reply">
            <i class="iconfont icon-svgmoban53"></i>回复
        </span>
                        {{/*{{# if(user.auth == 1 || user.auth == 2 || (user.username && myself && !myda)){ }}*/}}
                        {{/*<div class="jieda-admin">*/}}
                        {{/*{{# if(user.auth == 1 || (user.auth == 2 && item.accept != 1)){ }}*/}}
                        {{/*<span type="edit">*/}}
                        {{/*编辑*/}}
                        {{/*</span>*/}}
                        {{/*<span type="del">*/}}
                        {{/*删除*/}}
                            </span>
                        {{/*{{ if eq2 .Accept  -1 }}*/}}
                        {{/*<span class="jieda-accept" type="accept">采纳</span>*/}}
                        {{/*{{end  }}*/}}
                        {{/*{{ if eq .U.Accept -1 }}*/}}
                        {{/*<span class="jieda-accept" type="accept">*/}}
                        {{/*采纳*/}}
                        {{/*</span>*/}}
                        {{/*{{end }}*/}}
                        </div>
                    </li>
                {{end}}
                {{/*{{ if jieda.length === 0){ }}*/}}
                {{/*<li class="fly-none">消灭零回复</li>*/}}
                {{/*{{# } }}*/}}
                </ul>

                <div style="text-align: center">
                {{/*{{ d.laypage }}*/}}
                </div>

                <div class="layui-form layui-form-pane">
                    <form action="/jie/reply/" method="post">
                        <div class="layui-form-item layui-form-text">
                            <a name="comment"></a>
                            <div class="layui-input-block">
                        <textarea id="L_content" name="content" required lay-verify="required" placeholder="请输入内容"
                                  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                        {{/*<input type="hidden" name="jid" value="{{rows.id}}">*/}}
                        {{/*<input type="hidden" name="daPages" value="{{rows.jieda.pages}}">*/}}
                            <button class="layui-btn" lay-filter="*" lay-submit>提交回复</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
        {{/*{{ include ../common/list-hot }}*/}}

        {{/*{{ include ../ad/detail }}*/}}

        {{/*{{ include ../ad/ours }}*/}}

            <div class="fly-panel" style="padding: 20px 0; text-align: center;">
                <img src="//cdn.layui.com/upload/2017_8/168_1501894831075_19619.jpg" style="max-width: 100%;"
                     alt="layui">
                <p style="position: relative; color: #666;">微信扫码关注 layui 公众号</p>
            </div>

        </div>
    </div>
</div>

{{ template "common/footer.html" .}}

</body>
</html>